html 
    font-family Microsoft JhengHei,Arial,Helvetica,sans-serif
* 
    box-sizing border-box
p 
    margin 0
    padding 0
// --- 共用 class ---
.container
    width 100%
    padding 50px 0px
.button 
    display flex 
    justify-content center
    align-items center
    cursor pointer
// ---- main color --- 
s_red = #d7000f
s_yellow = #FFD93E
//--- 各自 class ---
.navbar
    background s_red
    width 100%
    height 100px
    position fixed
    z-index 10
    display flex
    justify-content flex-end
    align-items center
    .navbar_logo
        width 135px
        height 115px
        position absolute
        top 35px
        left 75px
        background url('./pic/Logo_sukiya.jpg')
        background-size cover 
        border 2px solid white
        display inline-block
    .navlist
        display inline-flex
        list-style none
        color white
        margin-right 20%
        li 
            margin-right 25px
    i 
        font-size 1.5rem
        margin-right 10px
.null 
    width 100%
    height 100px   
.header
    width 100%
    height 500px
    background url('./pic/Sb5z1Earu99GijzNUpURmIoS3GIU5XZtGQJAbRkCQG0.jpg')
    background-size cover
    background-position center

.navBrick_row
    width 960px
    margin 0 auto
    display flex 
    justify-content space-between
.navBrick_col 
    width 250px
    height 300px
    border-radius 3px
    position relative
    box-shadow 0px 0px 0px 0px rgba(0,0,0,0.1)
    transition 0.3s box-shadow ease-out,0.3s color ease-out
    color black
    cursor pointer
    &:hover
        box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
        color white  
    h2 
        text-align center
        margin-top 100px
    .navBrick_col_button 
        width w = 100px
        height h = 40px
        background s_yellow 
        border-radius 5px
        margin 0 auto
        
    
// 為了讓每個 before 的照片不一樣
.navBrick_col_buy
    &:before
        content ""
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background url('./pic/2.jpg')
        background-size cover
        background-position 25% 
        opacity 0.4
        border-radius 3px
        transition 0.3s opacity ease-out
        z-index -10
    &:hover
        &:before
            opacity 1
.navBrick_col_site
    &:before
        content ""
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background url('./pic/n-black-d-20141230-870x597.jpg')
        background-size cover
        background-position top
        opacity 0.4
        border-radius 3px
        transition 0.3s opacity ease-out
        z-index -10
    &:hover
        &:before
            opacity 1
.navBrick_col_about
    &:before
        content ""
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background url('./pic/wat.png')
        background-size cover
        opacity 0.4
        border-radius 3px
        transition 0.3s opacity ease-out
        z-index -10
    &:hover
        &:before
            opacity 1

.news_bg
    background s_yellow
    padding 50px 0px
.news_container
    height 300px
    width 680px
    margin 0 auto
    padding 10px 20px
    background white
    box-shadow 0px 1px 13px 1px rgba(0,0,0,0.1)
    .news_slogan
        padding 0px 10px
        margin-bottom 20px
        width 100%
        height h = 50px
        border-radius 10px
        background #eacf7d
        line-height h
    .news_line
        border-bottom  1px solid #d2d2d2
        border-top 1px solid #d2d2d2
        width 100%
        height h = 40px
        line-height h
        position relative
    .news_line_newsType
        border-radius 5px
        background #ea4242
        padding 2px
        color white
        width 40px
        height 20px
    .news_line_title 
        padding 0px 20px
        display inline
        cursor pointer
    .news_line_time
        width 120px
        height 100%
        position absolute
        top 0px
        right 0px
        color #b1b1b1
.footer
    width 100%
    height 120px
    background s_red
    color white
    text-align center
    .footer_socialLink
        width 400px
        padding 20px 0px
        margin 0 auto
        font-size 2rem
    i 
        cursor pointer
        &:hover
            text-shadow:2px 2px 4px #3e3e3e
        