html 
    font-family Microsoft JhengHei,Arial,Helvetica,sans-serif
    height 100%
    font-size 16px
body  
    min-height 100%
    height 100% 
* 
    box-sizing border-box
p 
    margin 0
    padding 0
a 
    color white
ul 
    margin 0 
    padding 0
// ---- main color --- 
s_red = #d7000f
s_yellow = #FFD93E
s_gray = #1E222A
s_brown = #795548
// --- rwd break point --- 
      
// --- 共用 class ---
.button 
    display flex 
    justify-content center
    align-items center
    cursor pointer
.bgPink // ---後來沒採用---因為 react html 結構關係 很難繼承到 body 的 height ， 改用 fixed 搭配 min-height
    background-color #f9f0d9 
    min-height 100vh
    //width 100vw
    //position fixed
    //z-index -30
.link // 去除 react 對 link 的預設樣式
    text-decoration none
.link_col 
    display block
input[type=submit]
    border none
    cursor pointer
#root 
    height 100%
.hide 
    display none !important
//--- class ---
navbar_height = 70px
navbar_height-momile = 45px 
navbar_z = 30
.navbar
    background s_red
    width 100%
    height navbar_height 
    position fixed
    top 0
    left 0
    z-index navbar_z
    display flex
    justify-content flex-end
    align-items center
    @media screen and (max-width: 1000px)
        display none
    i 
        margin-right 10px
        font-size 1.5rem
    .navbar_logo-base
    width 68px
    height 58px
    position absolute
    top 6px
    left 75px
    background url('../pic/Logo_sukiya.jpg')
    background-size cover 
    border 2px solid white
    display block 
    
    .navbar_logo-enter {
        animation-name: fade-in;
        animation-duration: 300ms;
    }
    .navbar_logo-enter.navbar_logo-enter-active {
    opacity: 1;
    top: 58px
    transition: all 1500ms ease-in;
    }

    @keyframes bigger-out{
        from{
            width 68px
            height 58px
        }
        to{
            width 136px
            height 116px
        }
    }
    
    // 用來 animation 的 style
    .bigLogo-base {
        width 136px
        height 116px
        position absolute
        top 15px
        left 75px
        background url('../pic/Logo_sukiya.jpg')
        background-size cover 
        border 2px solid white
        display block 
        z-index 30 // 為了在邊際情形時蓋掉小的
    }

    .bigLogo-enter {
    animation-name: fade-in;
    animation-duration: 1000ms;
    }
    .bigLogo-leave {
    animation-name: fade-out;
    animation-duration: 1000ms;
    }

    @keyframes fade-out {
    from {
        //opacity: 0.0;
        top 15px
    }
    to {
        //opacity: 1.0;
        top -150px
    }
    }
    @keyframes fade-in {
    from {
        //opacity: 0.0;
        top -150px
    }
    to {
        //opacity: 1.0;
        top 15px
    }
    }
    @keyframes fade-out_small {
    from {
        //opacity: 0.0;
        top 10px
    }
    to {
        //opacity: 1.0;
        top -150px
    }
    }
    @keyframes fade-in_small {
    from {
        //opacity: 0.0;
        top -150px
    }
    to {
        //opacity: 1.0;
        top 10px
    }
    }

    .smallLogo-base {
        width 60px
        height 50px
        position absolute
        top 10px
        left 75px
        background url('../pic/Logo_sukiya.jpg')
        background-size cover 
        border 2px solid white
        display block 
    }
    .smallLogo-enter {
    animation-name: fade-in_small;
    animation-duration: 1000ms;
    }
    .smallLogo-leave {
    animation-name: fade-out_small;
    animation-duration: 1000ms;
    }
    .navlist
        display inline-flex
        list-style none
        color white
        margin-right 10%
        li 
            margin-right 25px
            align-items center
            display inline-flex
            padding 5px 0px
            position relative
            color white
            &:hover
                cursor pointer
                &:before
                    transform scale3d(1,1,1)
            
            // to hover effect
            &:before
                content ''
                position absolute
                bottom 0px
                width 100%
                height 2px
                background-color white
                transition 0.3s all ease-out
                transform scale3d(0,1,1)
    
.navbar-mobile
    width 100% 
    height navbar_height-momile 
    background s_red 
    display none 
    position fixed
    top 0
    align-items center
    z-index navbar_z
    @media screen and (max-width: 1000px)
        display flex
    .logo 
        background url('../pic/Logo_sukiya.jpg')
        width 42px
        height 35px
        background-size cover 
        border 1px solid white 
        margin-left 5%
    .toggle 
        position absolute
        right 15px
        color white
        font-size 25px
    .bar_row 
        width 60% 
        margin 0 auto 
    .bar_col 
        width 100% 
        height 50px
        border-bottom 1px solid white
        font-size 1.5rem
        display flex
        align-items: center
        justify-content: center
        i 
            margin-right 10px 
    .bar_back 
        position absolute
        top 20px 
        right 20px
        color white 
        font-size 2rem
    // bar animation 
    .bar-base 
        width 100vw 
        height 100vh 
        top 0
        left 0
        background s_gray 
        position fixed
        z-index navbar_z
        padding 25% 0
        opacity 1
    .bar-enter  
        opacity 0.01
    .bar-enter.bar-enter-active
        opacity 1
        transition opacity 300ms ease-in-out
 
.header
    width 100%
    height "calc(100vh - %s)" %navbar_height // stylus 要 calc 變數的語法
    // 如果多個變數就像這樣 left "calc(%s - %s)" % (measure arrow-size)
    background url('../pic/Sb5z1Earu99GijzNUpURmIoS3GIU5XZtGQJAbRkCQG0.jpg')
    background-size cover
    background-position top
    background-attachment fixed //視差滾動關鍵
    position relative
    display flex
    align-items center
    justify-content center
    margin-top navbar_height
    @media screen and (max-width: 600px)
        margin-top navbar_height-momile
    &:before 
        content ""
        position absolute 
        width 100% 
        height 100% 
        background #9e9e808a
    .title 
        font-family 'Sawarabi Mincho'
        text-align center
        top 50%
        left 50%
        z-index 20
        h2  
            font-size 8rem 
            margin 0 0 0.2rem 0
        h3 
            font-size 1.5rem
        @media screen and (max-width: 600px)
            h2 
                font-size 80px
            h3 
                font-size 24px
.banner 
    width 100%
    display block
    z-index -10 

// 為了讓每個 before 的照片不一樣
navBrick_col-before(url)
    content ""
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background url(url)
    background-size cover
    background-position 25% 
    opacity 0.4
    border-radius 3px
    transition 0.3s opacity ease-out
    z-index -10
.navBrick_row 
    width 960px
    padding 50px 0px
    margin 0 auto
    display flex 
    justify-content space-between
    position relative
    background white
    @media screen and (max-width: 960px)
        width 100%
        flex-wrap wrap
        padding 20px 0
    .navBrick_col
        z-index 20 
        width 250px
        height 300px
        border-radius 3px
        position relative
        box-shadow 0px 0px 0px 0px rgba(0,0,0,0.1)
        transition 0.3s box-shadow ease-out,0.3s color ease-out
        color black
        display flex 
        justify-content center 
        align-items: center
        @media not all and (pointer: coarse)
            &:hover
                box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
                color white  
        h2 
            text-align center
        @media screen and (max-width: 600px)
            width 100%
            margin 10px 10px
        .navBrick_col_button 
            width w = 100px
            height h = 40px
            background s_yellow 
            border-radius 5px
            color black
            
    // 為了讓每個 before 的照片不一樣
    .navBrick_col_buy
        &:before
            navBrick_col-before('../pic/2.jpg')
        &:hover
            &:before
                opacity 1
    .navBrick_col_site
        &:before
            navBrick_col-before('../pic/n-black-d-20141230-870x597.jpg')
        &:hover
            &:before
                opacity 1
    .navBrick_col_about
        &:before
            navBrick_col-before('../pic/wat.png')
        &:hover
            &:before
                opacity 1

.news_bg
    background s_yellow
    padding 50px 0px
    .news_container
        height 300px
        width 680px
        margin 0 auto
        padding 10px 20px
        background white
        box-shadow 0px 1px 13px 1px rgba(0,0,0,0.1)
        @media screen and (max-width: 600px) 
            width 90%
            font-size 10px
            padding 5px 10px
    .news_slogan
        padding 0px 10px
        margin-bottom 20px
        width 100%
        height h = 50px
        border-radius 10px
        background #eacf7d
        line-height h
    .news_line
        border-bottom  1px solid #d2d2d2
        border-top 1px solid #d2d2d2
        width 100%
        height 40px
        position relative
        display flex 
        align-items center
    .news_line + .news_line 
        border-top none
    .news_line_newsType
        border-radius 5px
        background #ea4242
        padding 2px
        color white
    .news_line_title 
        padding 0px 20px
        cursor pointer
        width 400px
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        @media screen and (max-width: 600px) 
            width 230px
    .news_line_time
        width 120px
        height 100%
        right 0px
        position absolute
        line-height 40px
        color #b1b1b1
        @media screen and (max-width: 600px) 
            width 50px
            
.footer
    width 100%
    //height 100px
    background s_red
    color white
    text-align center
    padding 10px 0
    @media screen and (max-width: 600px)
            padding 3px 0 
    .footer_socialLink
        max-width 400px
        margin 0 auto
        font-size 2rem
        text-align center
    i 
        cursor pointer
        margin 0px 5px
        @media not all and (pointer: coarse)
            &:hover
                text-shadow:2px 2px 4px #3e3e3e
        @media screen and (max-width: 600px)
            font-size 1.5rem 
    p 
        margin-top 5px
       
        

sidebar_width = 14% // 連動 sidebar 和 product_container 
bigScreen_sidebar_width = 200px //大螢幕時套用，以免過寬
.sidebar
    box-shadow 3px 3px 6px 3px rgba(0,0,0,0.2)
    width sidebar_width
    height 100vw
    background s_gray
    padding 100px 0px
    font-size 1.3rem
    font-weight bold
    color white
    position fixed
    top 0px
    left 0px
    z-index 20
    display block
    @media screen and (min-width: 1440px)
        width bigScreen_sidebar_width
    @media screen and (max-width: 1000px)
        display none
    .sidebar_line
        padding 10px 15px
        transition 0.3s background ease-out 
        color white
        @media not all and (pointer: coarse)
            &:hover
                background #3d4656
    .sidebar_line-active
        background #3d4656
        border-left 5px solid s_yellow
    .sidebar_cart_button
        margin 30px 10px
        padding 10px 15px
        border-radius 5px
        background #5a5a57
        transition background 0.3s ease-out
        i 
            margin-right 5px
        @media not all and (pointer: coarse)
            &:hover 
                cursor pointer
                background s_yellow


sidebar_height = 40px
.sidebar-mobile 
    width 100% 
    margin-top navbar_height-momile 
    padding 0 20px
    height sidebar_height
    display none
    position relative
    @media screen and (max-width: 1000px)
        display block
    .container 
        overflow hidden
        width 100% 
        height 100%
    .arrowLeft 
        position absolute
        left 15px
        height sidebar_height
        line-height sidebar_height
        font-size 1.5rem
        color s_red
    .arrowRight 
        position absolute
        right 15px
        height sidebar_height
        line-height sidebar_height
        font-size 1.5rem
        color s_red
    .sidebar_cart_button
        background #5a5a57 
        position fixed
        top 15%
        right 10px
        z-index 20
        padding 5px 5px
        border-radius 5px
        -webkit-writing-mode: vertical-lr
        writing-mode: vertical-lr
        color white
        @media screen and (min-width: 768px) 
            margin 30px 10px
            padding 10px 15px
            border-radius 5px
            background #5a5a57
           
    ul  
        overflow: scroll;
        height: 100%;
        border-bottom: 1px solid #D6D6D6;
        white-space: nowrap;
        line-height sidebar_height
    li 
        list-style-type: none;
        display: inline-block;
        height 100%
        padding 0px 20px
        color #989898
        font-weight bold
    .sidebar-mobile_line-active 
        color s_red
.product_container
    z-index 5 // 為了在 react 內建包在外面的 div 上面
    margin-left sidebar_width
    margin-top navbar_height
    width (100 - sidebar_width)
    height 100%
    position relative
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content center
    @media screen and (min-width: 1440px) 
        margin-left bigScreen_sidebar_width 
        width "calc(100% - %s)" %bigScreen_sidebar_width
    @media screen and (max-width: 1000px) 
        margin-left 0
        width 100%
        margin-top 0
    .product_row
        width 85%
        display flex 
        justify-content space-between
        flex-wrap wrap
        padding 20px 0
        a 
            margin 15px
    .product_col
        width 280px
        box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
        border-radius 3px
        overflow hidden
        transition 0.3s all ease-out
        z-index 20
        &:hover
            cursor pointer
            box-shadow  0px 1px 13px 5px rgba(0,0,0,0.1)
            img 
                transform scale(1.1)
        @media screen and (max-width: 600px) 
            width 100%
    
    .product_col_placeholder 
        width 280px
        height 1px
    .product_row_img 
        width 100%
        //height 195px
        display block
        z-index -10
        position relative
        transition 0.3s all ease-out
        background-color white
    .product_col_inf 
        width 100%
        background s_yellow
        display flex
        align-items center
        padding 0px 15px
        flex-wrap wrap
        z-index 10
        color #583f35
    .product_col_inf_name
        margin 5px 0px
        text-align center
        font-size 1.3rem
        font-weight bold
        display block
        width 100%
    .product_col_inf_price
        color s_red 
        font-size 1rem
        text-align center
        width 100%
        margin 5px 0px
.single_container
    width 80%
    background white 
    border-radius 15px
    margin 30px 0
    padding 20px
    box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
    display inline-flex
    align-items center
    @media screen and (max-width: 1000px)
        width 90% 
    @media screen and (max-width: 600px) 
        width 90%
        display flex
        flex-wrap wrap 

    .single_img
        width 50%
        @media screen and (max-width: 600px) 
            width 100%
    .single_inf_container
        width 50%
        height 100%
        padding 0px 20px
        display flex
        flex-wrap wrap
        align-self: flex-start
        @media screen and (max-width: 600px) 
            width 100%
            padding 0
    .single_inf_name
        color s_brown
        font-size 2rem
    .single_inf_intro
        color #616161
        font-size 1.1rem
    .single_inf_price_row
        font-size 1.2rem
        font-weight bold
        display flex
        flex-wrap wrap
        width 100%
        padding 10px 0px
        height 100px
    .single_inf_price_col
        width 50%
        padding 10px 0px
    .single_inf_price_size
        color s_brown
    .single_inf_price_price
        color s_red
.mealList_container
    width 80%
    position relative
    padding-bottom 50px
    @media screen and (max-width: 1000px)
        width 90% 
    .mealList_title
        margin 0 0 15px 0 
        padding 0
        letter-spacing 0.5rem
        text-align center
        
    .mealList_title_border
        width 80px
        height 2px
        display block
        margin 0 auto
        background s_red
    .mealList_firstLine
        margin-top 20px
        width 100%
        height 1px
        background #65656585
    .mealList_row 
        width 100%
        margin 20px 0px
    .mealList_col
        height 70px
        width 100%
        background white
        border-radius 15px
        margin-bottom 10px
        box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
        display flex 
        align-items center
        padding 10px 10px
        font-size 1.2rem
        position relative
        justify-content: space-around
        p 
            margin 0 15px 0 20px
        @media screen and (max-width: 600px) 
            height auto
            flex-wrap: wrap
    
    .mealList_col_wrapper 
        span 
            margin-right 10px
        @media screen and (max-width: 600px)
            width 100% 
            margin-bottom 10px
    .mealList_col_select_container
        max-width value
    .mealList_col_name
        font-size 1.3rem
        color s_brown
        display inline-block
        text-align center
        @media screen and (max-width: 600px)  
            display block
            width 100%
    .mealList_col_num 
        width 3rem
    .mealList_col_delete
        cursor pointer
        position absolute
        right 15px
        color s_brown
    .mealList_row_toCart
        width 100px 
        height 40px 
        border-radius 15px
        color white 
        background s_red
        font-weight bold
        margin-bottom 20px
        position absolute
        right 30px
        border 2px solid s_red
        transition 0.3s color ease-out, 0.3s background ease-out
        @media not all and (pointer: coarse)
            &:hover 
                background white
                color s_red
                box-shadow  0px 1px 11px 3px rgba(0,0,0,0.2)
    .mealList_row_addCol 
        width 80px 
        height 30px 
        border-radius 5px
        color white 
        background s_brown
        font-weight bold
        margin 0 auto
        border 2px solid s_brown
        transition 0.3s color ease-out, 0.3s background ease-out
        @media not all and (pointer: coarse)
            &:hover 
                background white 
                color s_brown
                box-shadow  0px 1px 11px 3px rgba(0,0,0,0.2)
    #mealList_col_price 
        color s_red
        margin 0
        font-weight bold
        margin-right 25px
.modalContainer
    width 100%
    position relative
    .modal_title
        margin 0 0 15px 0 
        padding 0
        color #616161
        text-align center
    .modal_title_border
            width 6rem
            height 2px
            display block
            background s_red
            margin 0 auto 
    .modal_row 
        width 100%
        margin-top 20px
        max-height 70vh 
        overflow-y scroll
        .element::-webkit-scrollbar 
            display:none
    .modal_row_firstLine
        width 100%
        height 1px
        background #d8d7d7        
    .modal_col 
        width 100% 
        height 80px 
        border-bottom 1px solid #d8d7d7
        align-items center
        display flex
        padding 0px 5px
        position relative
        //box-shadow  0px 1px 11px 3px rgba(0,0,0,0.2)
        img 
            width 70px
            margin-right 10%
            @media screen and (max-width: 600px)  
                width 35px 
                margin-right 20px
        span 
            margin-right 20px
    .modal_col_nameContainer
        width auto
        display flex 
        align-items: center
        @media screen and (max-width: 600px) 
            flex-wrap wrap 
            width 110px
            span  
                display block
                width 100%
                margin 0
    .modal_col_productName 
        color s_gray 
        font-size 1.3rem 
        font-weight bold 
        @media screen and (max-width: 600px)  
            font-size 1rem
    #modal_col_price 
        color s_gray 
        font-weight bold
        font-size 1.2rem
        width 40px 
        position absolute
        right 40px
        @media screen and (max-width: 600px)
            font-size 1rem 
            right 10px
    .modal_col_close 
        position absolute 
        right 10px
        color s_gray 
        &:hover 
            cursor pointer 
    .modal_totalContainer 
        display flex 
        justify-content flex-end
        align-items center
        h2 
            color s_gray
        h2+h2 
            margin-right 2rem
    .modal_totalContainer-forChecked 
        display flex 
        justify-content space-between
        align-items center
        .rightBlock
            display flex 
            align-items center
            h2 
                color s_gray
    .modal_buyButton 
        background #5a5a57
        width 100px 
        height 40px
        border-radius 5px
        color white
        transition background 0.3s ease-out
        margin-left 20px
        @media not all and (pointer: coarse)
            &:hover 
                background #5ed668
    .modal_buyButton-back
        @media screen and (max-width: 600px) 
            display none
        @media not all and (pointer: coarse)
            &:hover 
                background s_yellow
    .modal_formContainer
        width 100%
        display flex
        @media screen and (max-width: 600px) 
            flex-wrap wrap
        .left
            width 50%
            height 100%
            padding 20px
            @media screen and (max-width: 600px) 
                width 100%
                padding 0
            input[type=text]
                border none
                color #565656 
                font-size 20px
                padding 5px 5px
                width 100%
                &:focus 
                    outline none
                &::placeholder 
                    color #565656 
                    font-family Microsoft JhengHei,Arial,Helvetica,sans-serif
        .right 
            width 50%
            height 100%
            padding 20px
            @media screen and (max-width: 600px) 
                width 100%
                padding 0
            h2 
                color #565656 
                margin 0 0 10px 0
                font-size 20px 
                font-weight 400
            textarea 
                width 100% 
                height 50px 
                resize none
                border-radius 3px
    .modal_formContainer_right 
        width 50%
    .modal_inputBox 
        width 100% 
        border-bottom 1px solid #63636340
        margin-bottom 15px
    .modal_prePage 
        position absolute
        top -8px 
        font-size 30px
        @media screen and (min-width: 600px) 
            display none
.modalClass 
    width 800px
    @media screen and (max-width 600px)
        width 90vw
.site 
    background url('../pic/Logo_sukiya.jpg')
    width 2rem
    height 1.5rem
    background-size cover
    position relative
    &:before
        content attr(data_name)
        position absolute
        bottom -1rem
        left -1rem
        width 4rem 
        text-align center
    
.mapContainer 
    margin-top navbar_height
    padding 2rem 0rem
    display flex
    justify-content space-around
    align-items: flex-start
    @media screen and (max-width: 600px)
        flex-wrap: wrap
        padding 10px 0
    .mapBox 
        height 500px 
        width 70% 
        border-radius 10px
        overflow hidden 
        @media screen and (max-width: 600px)
            width 100%
    .searchBox 
        width 25%
        background #5a5a57
        border-radius 10px
        padding 1rem 1rem
        color white
        h2 
            margin 0 0 10px 0
        p  
            font-size 1.3rem 
            display inline
        select
            border-radius 5px
            font-size 1.3rem
            margin 0 1rem
        @media screen and (max-width: 1000px) // 平板
            p
                display block 
                margin-bottom 10px
            select 
                margin 0 0 10px 0
        @media screen and (max-width: 600px)
            width 100%
            height 100px
            padding 15px 10px
            margin-bottom 10px
        
    .searchBox_searchButton 
        width 60px 
        height 35px 
        border-radius 5px
        background s_gray
        display inline-flex
        box-shadow  0px 1px 11px 3px rgba(0,0,0,0)
        transition box-shadow 0.1s ease-out
        @media not all and (pointer: coarse)
            &:hover 
                box-shadow  0px 1px 11px 3px rgba(0,0,0,0.2)
    .searchBox_address 
        margin-top 20px
.login_body
    width 100% 
    height 100vh 
    display flex 
    justify-content center 
    align-items: center
    padding-top navbar_height
    .login_bg 
        background s_yellow
        background-size cover
        width 100%
        height 100vh
        position fixed
        z-index -10
    .login_container
        width 720px 
        height 360px
        background white
        border-radius 3px
        overflow hidden
        display flex
        position relative
        box-shadow  2px 2px 19px 6px rgba(0,0,0,0.2)
        @media screen and (max-width: 600px) 
            width 90%
    .login_img 
        width 380px 
        height 100% 
        background url('../pic/Fotolia_142974889_Subscription_Monthly_M.jpg')
        background-size cover
        position relative
        z-index 10
        @media screen and (max-width: 600px) 
            display none
        &:before 
            content ""
            position absolute
            width 100% 
            height 100% 
            background rgba(0,0,0,0.7)
            z-index -10

        h2 
            color white 
            margin 0
            z-index 20
            font-size 32px
            position absolute
            font-weight 100
            line-height 45px
            font-family: 'Lato', sans-serif;
            top 70px 
            left 30px
    .login_formContainer_bottomNav
        width 340px 
        height 45px 
        display flex
        position absolute   
        bottom 0px
        right 0px
        cursor pointer
    .login_formContainer_bottomNav_change 
        width 50% 
        height 100%
        background #DFE0E3
        line-height 45px
        padding 0px 20px
        color #4b495d
        transition background 0.3s ease-out
        @media not all and (pointer: coarse)
            &:hover 
                background #bab7d8;
    .login_formContainer_bottomNav_submit 
        width 50% 
        height 100%
        background #4b495d
        line-height 45px
        padding 0px 20px
        color white 
        text-align right
        transition background 0.3s ease-out
        @media not all and (pointer: coarse)
            &:hover 
                background #2a2933
    .login_formContainer
        width 340px 
        height 100% 
        font-family: 'Montserrat', sans-serif;
        padding 30px 25px
        input[type=text], input[type=password],input[type=email]
            border none
            color #565656 
            font-size 20px
            padding 5px 5px
            &:focus 
                outline none
            &::placeholder 
                color #565656 
        .login_formContainer_title
            color #565656 
            margin 0px 0px 25px 0px
        .login_formContainer_inputBox 
            width 100% 
            border-bottom 1px solid #63636340
            margin-bottom 15px
.about 
    width 100% 
    margin-top navbar_height   
    padding 30px 3%
    .title
        color s_red
        margin-bottom 120px
        max-width 250px
        @media screen and (max-width: 600px)
            display none
    .title_row
        transform rotate(-10deg)
        h2 
            font-size 86px 
            margin 20px 0
            display block
            letter-spacing: 5px
            font-style italic
            font-family: 'Lato',Microsoft JhengHei,Arial,Helvetica,sans-serif
            

        h3  
            font-size 32px
            margin 0
            display block
            font-weight 900
    .main  
        display flex 
        @media screen and (max-width: 600px)
            flex-wrap: wrap
    .main_wrapper
        @media screen and (max-width: 600px) 
            width 100%
            display none

    .main_logo 
        background url('./pic/icon_whatssukiya.png')
        width 144px 
        height 144px
        background-size cover
    .main_logo_2 
        background url('./pic/logo_153729_en.jpg')
        width 144px 
        height 144px
        margin-top 20px
        background-size cover
        @media screen and (max-width: 600px)
            margin 0
    .main_intro 
        margin-left 200px
        h2 
            font-size 42px 
            color s_red
            margin 0
            @media screen and (max-width: 600px)
                font-size 24px
        h3      
            color s_red
            font-weight 900
            font-size 24px
            margin 15px 0 40px 0
            @media screen and (max-width: 600px)
                font-size 18px
        p 
            color #717071
            font-size 18px
            line-height 1.8
            font-weight bold
        @media screen and (max-width: 600px) 
            width 100%
            margin 0
    
