html 
    font-family Microsoft JhengHei,Arial,Helvetica,sans-serif
html  
    height 100%
body  
    min-height 100%
    height 100% 
* 
    box-sizing border-box
p 
    margin 0
    padding 0
a 
    color white
// ---- main color --- 
s_red = #d7000f
s_yellow = #FFD93E
s_gray = #1E222A
s_brown = #795548
// --- 共用 class ---
.button 
    display flex 
    justify-content center
    align-items center
    cursor pointer
.bgPink // ---後來沒採用---因為 react html 結構關係 很難繼承到 body 的 height ， 改用 fixed 搭配 min-height
    background-color #f9f0d9 
    min-height 100vh
    //width 100vw
    //position fixed
    //z-index -30
.link // 去除 react 對 link 的預設樣式
    text-decoration none
#root 
    height 100%
 

//--- class ---
.navbar
    background s_red
    width 100%
    height 80px
    position fixed
    top 0
    left 0
    z-index 30
    display flex
    justify-content flex-end
    align-items center
    i 
        margin-right 10px
        font-size 1.5rem
    .navbar_logo
        width 68px
        height 58px
        position absolute
        top 10px
        left 75px
        background url('./pic/Logo_sukiya.jpg')
        background-size cover 
        border 2px solid white
        display inline-block
    .navlist
        display inline-flex
        list-style none
        color white
        margin-right 10%
        li 
            margin-right 25px
            align-items center
            display inline-flex
            padding 5px 0px
            position relative
            color white
            &:hover
                cursor pointer
                &:before
                    transform scale3d(1,1,1)
            
            // to hover effect
            &:before
                content ''
                position absolute
                bottom 0px
                width 100%
                height 2px
                background-color white
                transition 0.3s all ease-out
                transform scale3d(0,1,1)
            
.null 
    width 100%
    height 80px   
.header
    width 100%
    height 500px
    background url('./pic/Sb5z1Earu99GijzNUpURmIoS3GIU5XZtGQJAbRkCQG0.jpg')
    background-size cover
    background-position center

.navBrick_row
    width 960px
    padding 50px 0px
    margin 0 auto
    display flex 
    justify-content space-between
    .navBrick_col 
        width 250px
        height 300px
        border-radius 3px
        position relative
        box-shadow 0px 0px 0px 0px rgba(0,0,0,0.1)
        transition 0.3s box-shadow ease-out,0.3s color ease-out
        color black
        cursor pointer
        &:hover
            box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
            color white  
        h2 
            text-align center
            margin-top 100px
        .navBrick_col_button 
            width w = 100px
            height h = 40px
            background s_yellow 
            border-radius 5px
            margin 0 auto
            
        
    // 為了讓每個 before 的照片不一樣
    .navBrick_col_buy
        &:before
            content ""
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background url('./pic/2.jpg')
            background-size cover
            background-position 25% 
            opacity 0.4
            border-radius 3px
            transition 0.3s opacity ease-out
            z-index -10
        &:hover
            &:before
                opacity 1
    .navBrick_col_site
        &:before
            content ""
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background url('./pic/n-black-d-20141230-870x597.jpg')
            background-size cover
            background-position top
            opacity 0.4
            border-radius 3px
            transition 0.3s opacity ease-out
            z-index -10
        &:hover
            &:before
                opacity 1
    .navBrick_col_about
        &:before
            content ""
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background url('./pic/wat.png')
            background-size cover
            opacity 0.4
            border-radius 3px
            transition 0.3s opacity ease-out
            z-index -10
        &:hover
            &:before
                opacity 1

.news_bg
    background s_yellow
    padding 50px 0px
    .news_container
        height 300px
        width 680px
        margin 0 auto
        padding 10px 20px
        background white
        box-shadow 0px 1px 13px 1px rgba(0,0,0,0.1)
    .news_slogan
        padding 0px 10px
        margin-bottom 20px
        width 100%
        height h = 50px
        border-radius 10px
        background #eacf7d
        line-height h
    .news_line
        border-bottom  1px solid #d2d2d2
        border-top 1px solid #d2d2d2
        width 100%
        height h = 40px
        line-height h
        position relative
    .news_line_newsType
        border-radius 5px
        background #ea4242
        padding 2px
        color white
        width 40px
        height 20px
    .news_line_title 
        padding 0px 20px
        display inline
        cursor pointer
    .news_line_time
        width 120px
        height 100%
        position absolute
        top 0px
        right 0px
        color #b1b1b1
.footer
    width 100%
    height 100px
    background s_red
    color white
    text-align center
    .footer_socialLink
        width 400px
        padding 10px 0px
        margin 0 auto
        font-size 2rem
    i 
        cursor pointer
        margin 0px 5px
        &:hover
            text-shadow:2px 2px 4px #3e3e3e
// 連動 sidebar 和 product_container 
sidebar_width = 13%
.sidebar
    box-shadow 3px 3px 6px 3px rgba(0,0,0,0.2)
    width sidebar_width
    height 100vw
    background s_gray
    padding 100px 0px
    font-size 1.3rem
    font-weight bold
    color white
    position fixed
    top 0px
    left 0px
    z-index 20
    .sidebar_line
        padding 10px 15px
        transition 0.3s background ease-out 
        color white
        &:hover
            background #3d4656
    .sidebar_line-active
        background #3d4656
        border-left 5px solid s_yellow
.product_container
    z-index 5 // 為了在 react 內建包在外面的 div 上面
    margin-left sidebar_width
    margin-top 80px
    width (100 - sidebar_width)
    height 100%
    position relative
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content center
    .product_row
        width 85%
        display flex 
        justify-content space-between
        flex-wrap wrap
        
    .product_col
        width 280px
        margin-top 30px
        box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
        border-radius 3px
        overflow hidden
        transition 0.3s all ease-out
        z-index 20
        &:hover
            cursor pointer
            box-shadow  0px 1px 13px 5px rgba(0,0,0,0.1)
            img 
                transform scale(1.1)
    .product_col_placeholder 
        width 280px
        height 1px
    .product_row_img 
        width 100%
        height 195px
        display block
        z-index -10
        position relative
        transition 0.3s all ease-out
        background-color white
    .product_col_inf 
        width 100%
        background s_yellow
        display flex
        align-items center
        padding 0px 15px
        flex-wrap wrap
        z-index 10
        color #583f35
    .product_col_inf_name
        margin 5px 0px
        text-align center
        font-size 1.3rem
        font-weight bold
        display block
        width 100%
    .product_col_inf_price
        color s_red 
        font-size 1rem
        text-align center
        width 100%
        margin 5px 0px
.single_container
    width 80%
    height 430px
    background white 
    border-radius 15px
    margin 30px 0
    padding 20px
    box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
    display inline-flex
    align-items center
    .single_img
        width 50%
        max-height 90%
    .single_inf_container
        width 50%
        height 100%
        padding 0px 20px
        display flex
        flex-wrap wrap
    .single_inf_name
        color s_brown
        font-size 2rem
    .single_inf_intro
        color #616161
        font-size 1.1rem
    .single_inf_price_row
        font-size 1.2rem
        font-weight bold
        display flex
        flex-wrap wrap
        width 100%
        padding 10px 0px
        height 100px
    .single_inf_price_col
        width 50%
        padding 10px 0px
    .single_inf_price_size
        color s_brown
    .single_inf_price_price
        color s_red
.mealList_container
    width 80%
    position relative
    padding-bottom 50px
    .mealList_title
        margin 0 0 15px 0 
        padding 0
        letter-spacing 0.5rem
        text-align center
        
    .mealList_title_border
        width 80px
        height 2px
        display block
        margin 0 auto
        background s_red
    .mealList_firstLine
        margin-top 20px
        width 100%
        height 1px
        background #65656585
    .mealList_row 
        width 100%
        margin 20px 0px
    .mealList_col
        height 70px
        background white
        border-radius 15px
        margin-bottom 10px
        box-shadow  0px 1px 13px 1px rgba(0,0,0,0.1)
        display flex 
        align-items center
        padding 10px 10px
        font-size 1.2rem
        position relative
        p 
            margin 0 15px 0 20px
    .mealList_col_select_container
        max-width value
    .mealList_col_name
        font-size 1.3rem
        color s_brown
        display inline-block
        width 160px
    .mealList_col_num 
        width 3rem
    .mealList_col_delete
        cursor pointer
        position absolute
        right 15px
        color s_brown
    .mealList_row_toCart
        width 100px 
        height 40px 
        border-radius 15px
        color white 
        background s_red
        font-weight bold
        margin-bottom 20px
        position absolute
        right 30px
        border 2px solid s_red
        transition 0.3s color ease-out, 0.3s background ease-out
        
        
        &:hover 
            background white
            color s_red
            box-shadow  0px 1px 11px 3px rgba(0,0,0,0.2)
    .mealList_row_addCol 
        width 80px 
        height 30px 
        border-radius 5px
        color white 
        background s_brown
        font-weight bold
        margin 0 auto
        border 2px solid s_brown
        transition 0.3s color ease-out, 0.3s background ease-out
        &:hover 
            background white 
            color s_brown
            box-shadow  0px 1px 11px 3px rgba(0,0,0,0.2)
    .mealList_col_price 
        color s_red
        margin 0
        font-weight bold