* 
    box-sizing border-box
html 
    font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
body 
    //background #F2F2F2
h1,h2,p 
    margin 0
h2 
    font-size 28px
input[type=checkbox]
    appearance none
// ---- main color --- 
s_red = #d7000f
s_yellow = #FFD93E
s_gray = #1E222A
a_green = #7ED321
a_red = #D0021B
a_blue = #4A90E2

// --- function --- 
button() 
    display flex 
    justify-content center
    align-items center
    cursor pointer
// --- var ---
navbar_height = 70px
.link
    text-decoration none
.hidden 
    display none
.mainContainer 
    padding 70px 40px
.navbar 
    background s_red
    width 100%
    height navbar_height
    position fixed
    z-index 50
    display flex
    align-items center
    .logo 
        color white 
        margin 0 70px 0 40px
        font-family: 'Anton', sans-serif;
        letter-spacing 3px
    .navCol 
        width auto 
        height 100% 
        padding 0 20px
        text-align center
        color white
        line-height navbar_height
        transition color 0.3s ease-out
        .navCol_text 
            cursor pointer
            color white
            &:hover 
                color s_yellow
        
    .navCol-active 
        .navCol_text
            color s_yellow
.topPanel
    width 100%
    .titleAndDate_container
        width 100% 
        display flex 
        padding 20px 0px
    .revenue_row
        width 100%
        display flex
        justify-content space-between
    .revenue_col 
        width 30%
        height 140px 
        background white
        border-radius 3px
        box-shadow: 0 0 10px 1px #d0d0d0;
        text-align center
        padding 30px 60px
        h2 
            margin-bottom 20px
            font-size 20px
        h1  
            font-size 36px
    .green
        color a_green
    .red 
        color a_red 
    .blue 
        color a_blue
.chart 
    width 100%
    height 400px
    margin 20px 0 
    padding 30px
    background white
    box-shadow: 0 0 10px 1px #d0d0d0;
    
.bottomPanelContainer
    width 100% 
    display flex
    justify-content space-between
.leftPanel 
    width 49%
    height 450px 
    padding 30px 40px
    box-shadow: 0 0 10px 1px #d0d0d0;
.rightPanel 
    width 48%
    height 450px 
    padding 30px 40px
    box-shadow: 0 0 10px 1px #d0d0d0;
    h2 
        margin-bottom 20px
    .rightPanel_row
        width 100%
        
    .rightPanel_col
        width 100%
        border-bottom 1px solid #EBEBEB
        padding 8px 
        display flex 
        align-items center
        position relative
        img 
            width 100px 
            height 100px
            overflow hidden
            border-radius 2px
    .rightPanel_inf 
        width 200px 
        margin-left 30px
        h2 
            font-size 20px 
            margin-bottom 15px
        p 
            margin 8px 0px
            color #9B9B9B
        i 
            margin-right 5px
    .rightPanel_price 
        width 100px
        height 50px 
        position absolute
        right 20px
        bottom 15px
        text-align right
        h2 
            font-size 22px
.filterControll 
    width 100% 
    margin-top 20px
    position relative
    min-height 40px
    .date_container 
        display flex
        align-items: center 
        span 
            margin 0 10px
    .search 
        width 60px 
        height h = 30px
        background s_gray
        color white
        display inline-block
        line-height h 
        text-align center 
        cursor pointer 
        border-radius: 5px
        margin-left 10px
    .openModal
        button()
        background s_gray 
        width 130px
        height 30px
        color white
        border-radius 4px
        position absolute 
        right 20px

        
.mainTable
    width 100%
    table-layout:fixed // 平均分配欄寬
    border-collapse: collapse
    th 
        color #a5a5a5
        height 60px
        border-bottom: 1px solid #ddd;
    td 
        text-align center
        border-bottom: 1px solid #ddd;
        padding 10px
        img 
            width 100%
    tr  
        &:hover 
            .orderList_wrapper
                max-height 500px
    tr:nth-child(even)
        background #e4e4e4
    // 因為 tr 會自適應內容高度 用 div 把他撐起來達成 min-height 的效果
    .tofixedHeight 
        min-height 80px
        display flex  
        align-items: center
        justify-content: center
    .firstRow 
        height 60px
    .checkboxTD
        width 20px
    .index 
        width 80px
    .bigCol 
        width 220px
    .maxCol 
        width 350px
    .editCol 
        width 100px
    .describeTD 
        text-align left
    .editTD 
        .edit 
            width 70px 
            height 30px 
            button()
            background s_gray
            color white 
            border-radius 5px
        
        

    .orderList
        text-align left !important
        padding 5px
        // td tr 會自動調整高度適應內容 要限制高度必須加 div 在裡面
        .orderList_wrapper 
            max-height 100px
            overflow hidden
            transition max-height 0.8s ease-out       
    .statusButton
        width 100px 
        height h = 35px 
        border-radius 4px
        background #F5A623
        color white 
        text-align center 
        line-height h
        display inline-block
        position relative
        cursor pointer
        &:hover
            .dropdown 
                display block
        .dropdown
            position absolute
            width 100% 
            top h
            display none
            z-index: 20
            
        .dropdown_row 
            width 100% 
            margin-top 10px
            background white
            border-radius 2px
            box-shadow: 0 0 10px 3px #c5c5c5;
        .dropdown_col 
            width 100% 
            height 35px 
            color #8e8d8d
            font-weight bold
            transition color 0.2s ease-out
            cursor pointer
            &:hover 
                color black
    .statusButton-done 
        background a_green
    .statusButton-doing 
        background a_blue
.pagination 
    display inline-flex 
    height h=35px
    border 1px solid #d4d4d4
    padding  0
    text-align center
    line-height h
    background white
    border-radius 5px
    cursor pointer
    li    
        list-style none
    .subPage
        display block
        width 2rem
        height 100%
        border-right 1px solid #d4d4d4
    .previous
        display block
        height 100%
        padding 0 10px
        border-right 1px solid #d4d4d4
    .next 
        display block
        height 100%
        padding 0 10px
    .active 
        background s_red
        color white
.addProduct_header 
       width 100% 
       display flex
       height 65px
       padding 0px 25px
       background s_gray 
       color white
       font-size 24px
       align-items: center
       position relative
       i 
            position absolute 
            right 20px
            cursor pointer
.addProduct_body 
    width 100%
    display flex
    padding 30px
    .leftBlock 
        width calc(50% - 15px)
        margin-right 30px
        label 
            display block
            z-index 15
            cursor pointer
    .leftBlock_preview
        width 100%
        margin-top 50px
        img 
            max-width 60%
            display block
            margin 0 auto
    .addProduct_dragInput 
        width 100% 
        height 100px 
        background #e2e2e2
        text-align center
        padding 15px 0px
        i   
            font-size 40px
            color #757575 
        h2 
            color #757575 
            font-size 16px
    .rightBlock 
        width calc(50% - 15px)
        h2 
            font-size 20px 
            margin 10px 0px 
            color s_gray 
        h2:nth-child(1)
            margin 0 0 10px 0
        textarea 
            width 100% 
            height 150px 
            resize none 
            border-radius 4px
            border 1px solid #CCCCCC 
        input[type=text] 
            border-radius 4px
            border 1px solid #CCCCCC 
            width 100%
    .rightBlock_price_row 
        width 100% 
    .rightBlock_price_col
        width 100%
        display flex
        padding-bottom: 10px
        input[type=text] 
            width 100px
        p 
            margin-right 10px
            display inline-block 
            width 80px
        i  
            margin-left 15px
            cursor pointer 
            color s_gray
    .changeSize 
        button()
        color white 
        width 80px 
        height 30px 
        border-radius: 4px
        position absolute 
        background #616161
        right 100px
    .submit 
        border-radius: 4px 
        height 30px 
        color white 
        width 60px 
        background s_gray
        border none
        cursor pointer 
        position absolute 
        right 20px
    form
        position relative
        padding-bottom 20px
        







