* {
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
}
h1,
h2,
p {
  margin: 0;
}
h2 {
  font-size: 28px;
}
input[type=checkbox] {
  appearance: none;
}
.link {
  text-decoration: none;
}
.hidden {
  display: none;
}
.mainContainer {
  padding: 70px 40px;
}
.navbar {
  background: #d7000f;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}
.navbar .logo {
  color: #fff;
  margin: 0 70px 0 40px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
}
.navbar .navCol {
  width: auto;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  line-height: 70px;
  transition: color 0.3s ease-out;
}
.navbar .navCol .navCol_text {
  cursor: pointer;
  color: #fff;
}
.navbar .navCol .navCol_text:hover {
  color: #ffd93e;
}
.navbar .navCol-active .navCol_text {
  color: #ffd93e;
}
.topPanel {
  width: 100%;
}
.topPanel .titleAndDate_container {
  width: 100%;
  display: flex;
  padding: 20px 0px;
}
.topPanel .revenue_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.topPanel .revenue_col {
  width: 30%;
  height: 140px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px #d0d0d0;
  text-align: center;
  padding: 30px 60px;
}
.topPanel .revenue_col h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
.topPanel .revenue_col h1 {
  font-size: 36px;
}
.topPanel .green {
  color: #7ed321;
}
.topPanel .red {
  color: #d0021b;
}
.topPanel .blue {
  color: #4a90e2;
}
.chart {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 10px 1px #d0d0d0;
}
.bottomPanelContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.leftPanel {
  width: 49%;
  height: 450px;
  padding: 30px 40px;
  box-shadow: 0 0 10px 1px #d0d0d0;
}
.rightPanel {
  width: 48%;
  height: 450px;
  padding: 30px 40px;
  box-shadow: 0 0 10px 1px #d0d0d0;
}
.rightPanel h2 {
  margin-bottom: 20px;
}
.rightPanel .rightPanel_row {
  width: 100%;
}
.rightPanel .rightPanel_col {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: 8px;
  display: flex;
  align-items: center;
  position: relative;
}
.rightPanel .rightPanel_col img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 2px;
}
.rightPanel .rightPanel_inf {
  width: 200px;
  margin-left: 30px;
}
.rightPanel .rightPanel_inf h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.rightPanel .rightPanel_inf p {
  margin: 8px 0px;
  color: #9b9b9b;
}
.rightPanel .rightPanel_inf i {
  margin-right: 5px;
}
.rightPanel .rightPanel_price {
  width: 100px;
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 15px;
  text-align: right;
}
.rightPanel .rightPanel_price h2 {
  font-size: 22px;
}
.filterControll {
  width: 100%;
  margin-top: 20px;
  position: relative;
  min-height: 40px;
}
.filterControll .date_container {
  display: flex;
  align-items: center;
}
.filterControll .date_container span {
  margin: 0 10px;
}
.filterControll .search {
  width: 60px;
  height: 30px;
  background: #1e222a;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.filterControll .openModal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #1e222a;
  width: 130px;
  height: 30px;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  right: 20px;
}
.mainTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.mainTable th {
  color: #a5a5a5;
  height: 60px;
  border-bottom: 1px solid #ddd;
}
.mainTable td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.mainTable td img {
  width: 100%;
}
.mainTable tr:hover .orderList_wrapper {
  max-height: 500px;
}
.mainTable tr:nth-child(even) {
  background: #e4e4e4;
}
.mainTable .firstRow {
  height: 60px;
}
.mainTable .checkboxTD {
  width: 20px;
}
.mainTable .index {
  width: 50px;
}
.mainTable .bigCol {
  width: 220px;
}
.mainTable .maxCol {
  width: 350px;
}
.mainTable .describeTD {
  text-align: left;
}
.mainTable .orderList {
  text-align: left !important;
  padding: 5px;
}
.mainTable .orderList .orderList_wrapper {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}
.mainTable .statusButton {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  background: #f5a623;
  color: #fff;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.mainTable .statusButton:hover .dropdown {
  display: block;
}
.mainTable .statusButton .dropdown {
  position: absolute;
  width: 100%;
  top: 35px;
  display: none;
  z-index: 20;
}
.mainTable .statusButton .dropdown_row {
  width: 100%;
  margin-top: 10px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px #c5c5c5;
}
.mainTable .statusButton .dropdown_col {
  width: 100%;
  height: 35px;
  color: #8e8d8d;
  font-weight: bold;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.mainTable .statusButton .dropdown_col:hover {
  color: #000;
}
.mainTable .statusButton-done {
  background: #7ed321;
}
.mainTable .statusButton-doing {
  background: #4a90e2;
}
.pagination {
  display: inline-flex;
  height: 35px;
  border: 1px solid #d4d4d4;
  padding: 0;
  text-align: center;
  line-height: 35px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.pagination li {
  list-style: none;
}
.pagination .subPage {
  display: block;
  width: 2rem;
  height: 100%;
  border-right: 1px solid #d4d4d4;
}
.pagination .previous {
  display: block;
  height: 100%;
  padding: 0 10px;
  border-right: 1px solid #d4d4d4;
}
.pagination .next {
  display: block;
  height: 100%;
  padding: 0 10px;
}
.pagination .active {
  background: #d7000f;
  color: #fff;
}
.addProduct_header {
  width: 100%;
  display: flex;
  height: 65px;
  padding: 0px 25px;
  background: #1e222a;
  color: #fff;
  font-size: 24px;
  align-items: center;
  position: relative;
}
.addProduct_header i {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.addProduct_body {
  width: 100%;
  display: flex;
  padding: 30px;
}
.addProduct_body .leftBlock {
  width: calc(50% - 15px);
  margin-right: 30px;
}
.addProduct_body .leftBlock label {
  display: block;
  z-index: 15;
  cursor: pointer;
}
.addProduct_body .addProduct_dragInput {
  width: 100%;
  height: 100px;
  background: #e2e2e2;
  text-align: center;
  padding: 15px 0px;
}
.addProduct_body .addProduct_dragInput i {
  font-size: 40px;
  color: #757575;
}
.addProduct_body .addProduct_dragInput h2 {
  color: #757575;
  font-size: 16px;
}
.addProduct_body .rightBlock {
  width: calc(50% - 15px);
}
.addProduct_body .rightBlock h2 {
  font-size: 20px;
  margin: 10px 0px;
  color: #1e222a;
}
.addProduct_body .rightBlock h2:nth-child(1) {
  margin: 0 0 10px 0;
}
.addProduct_body .rightBlock textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.addProduct_body .rightBlock input[type=text] {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}
.addProduct_body .rightBlock_price_row {
  width: 100%;
}
.addProduct_body .rightBlock_price_col {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}
.addProduct_body .rightBlock_price_col input[type=text] {
  width: 100px;
}
.addProduct_body .rightBlock_price_col p {
  margin-right: 10px;
}
.addProduct_body .rightBlock_price_col i {
  margin-left: 15px;
  cursor: pointer;
  color: #1e222a;
}
.addProduct_body .rightBlock_price_col_price {
  margin-left: 10px;
}
.addProduct_body .addPriceCol {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #1e222a;
  width: 80px;
  height: 30px;
  border-radius: 4px;
}
.addProduct_body .submit {
  border-radius: 4px;
  height: 30px;
  color: #fff;
  width: 60px;
  background: #1e222a;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.addProduct_body form {
  position: relative;
  padding-bottom: 20px;
}
