* 
    box-sizing border-box
html 
    font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
body 
    //background #F2F2F2
h1,h2,p 
    margin 0
h2 
    font-size 28px
input[type=checkbox]
    appearance none
// ---- main color --- 
s_red = #d7000f
s_yellow = #FFD93E
s_gray = #1E222A
a_green = #7ED321
a_red = #D0021B
a_blue = #4A90E2
// -------
navbar_height = 70px
.link
    text-decoration none
.mainContainer 
    padding 70px 40px
.navbar 
    background s_red
    width 100%
    height navbar_height
    position fixed
    z-index 50
    display flex
    align-items center
    .logo 
        color white 
        margin 0 70px 0 40px
        font-family: 'Anton', sans-serif;
        letter-spacing 3px
    .navCol 
        width auto 
        height 100% 
        padding 0 20px
        text-align center
        color white
        line-height navbar_height
        transition color 0.3s ease-out
        .navCol_text 
            cursor pointer
            color white
            &:hover 
                color s_yellow
        
    .navCol-active 
        .navCol_text
            color s_yellow
.topPanel
    width 100%
    .titleAndDate_container
        width 100% 
        display flex 
        padding 20px 0px
    .revenue_row
        width 100%
        display flex
        justify-content space-between
    .revenue_col 
        width 30%
        height 140px 
        background white
        border-radius 3px
        box-shadow: 0 0 10px 1px #d0d0d0;
        text-align center
        padding 30px 60px
        h2 
            margin-bottom 20px
            font-size 20px
        h1  
            font-size 36px
    .green
        color a_green
    .red 
        color a_red 
    .blue 
        color a_blue
.chart 
    width 100%
    height 400px
    margin 20px 0 
    padding 30px
    background white
    box-shadow: 0 0 10px 1px #d0d0d0;
    
.bottomPanelContainer
    width 100% 
    display flex
    justify-content space-between
.leftPanel 
    width 49%
    height 450px 
    padding 30px 40px
    box-shadow: 0 0 10px 1px #d0d0d0;
.rightPanel 
    width 48%
    height 450px 
    padding 30px 40px
    box-shadow: 0 0 10px 1px #d0d0d0;
    h2 
        margin-bottom 20px
    .rightPanel_row
        width 100%
        
    .rightPanel_col
        width 100%
        border-bottom 1px solid #EBEBEB
        padding 8px 
        display flex 
        align-items center
        position relative
        img 
            width 100px 
            height 100px
            overflow hidden
            border-radius 2px
    .rightPanel_inf 
        width 200px 
        margin-left 30px
        h2 
            font-size 20px 
            margin-bottom 15px
        p 
            margin 8px 0px
            color #9B9B9B
        i 
            margin-right 5px
    .rightPanel_price 
        width 100px
        height 50px 
        position absolute
        right 20px
        bottom 15px
        text-align right
        h2 
            font-size 22px
.filterControll 
    width 100% 
    margin-top 20px
    .date_container 
        display flex
        align-items: center 
        span 
            margin 0 10px
    .search 
        width 60px 
        height h = 30px
        background s_gray
        color white
        display inline-block
        line-height h 
        text-align center 
        cursor pointer 
        border-radius: 5px
        margin-left 10px

        
.mainTable
    width 100%
    table-layout:fixed // 平均分配欄寬
    border-collapse: collapse
    th 
        color #a5a5a5
        height 60px
        border-bottom: 1px solid #ddd;
        transition height 0.3s ease-out
    td 
        text-align center
        border-bottom: 1px solid #ddd;
        transition height 0.3s ease-out
        img 
            width 100%
    tr  
        height 100px
        &:hover 
            .orderList_wrapper
                max-height 100%
    tr:nth-child(even)
        background #e4e4e4
    .firstRow 
        height 60px
    .checkboxTD
        width 20px
    .index 
        width 50px
    .bigCol 
        width 220px
    .orderList
        text-align left !important
        padding 5px
        // td tr 會自動調整高度適應內容 要限制高度必須加 div 在裡面
        .orderList_wrapper 
            max-height 100px
            overflow hidden
            text-overflow ellipsis
            -webkit-line-clamp 2
            -webkit-box-orient vertical
            transition height 0.3s ease-out       
    .statusButton
        width 100px 
        height h = 35px 
        border-radius 4px
        background #F5A623
        color white 
        text-align center 
        line-height h
        display inline-block
        position relative
        cursor pointer
        &:hover
            .dropdown 
                display block
        .dropdown
            position absolute
            width 100% 
            top h
            display none
            z-index: 20
            
        .dropdown_row 
            width 100% 
            margin-top 10px
            background white
            border-radius 2px
            box-shadow: 0 0 10px 3px #c5c5c5;
        .dropdown_col 
            width 100% 
            height 35px 
            color #8e8d8d
            font-weight bold
            transition color 0.2s ease-out
            cursor pointer
            &:hover 
                color black

            
    .statusButton-done 
        background a_green
    .statusButton-doing 
        background a_blue
.pagination 
    display inline-flex 
    height h=35px
    border 1px solid #d4d4d4
    padding  0
    text-align center
    line-height h
    background white
    border-radius 5px
    cursor pointer
    li    
        list-style none
    .subPage
        display block
        width 2rem
        height 100%
        border-right 1px solid #d4d4d4
    .previous
        display block
        height 100%
        padding 0 10px
        border-right 1px solid #d4d4d4
    .next 
        display block
        height 100%
        padding 0 10px
    .active 
        background s_red
        color white
    